<main>
  <div class="content">
    <h1>Reset your password</h1>
    <p>
      Hello. Please create a password that is at least 8 characters long.
    </p>

    <%= form_tag(secure_update_password_url, method: "post") do %>
      <%= password_field_tag(:password, "", :placeholder => "New Password") %>
      <%= password_field_tag(:confirm, "", :placeholder => "Confirm New Password") %>
      <%= hidden_field_tag(:token, @token) %>
      <%= submit_tag "Reset Password" %>
    <% end %>
  </div>
  <div class="reset_footer">
    <a href="<%= sign_in_path %>" class="return_link">Return to sign in</a>
  </div>
</main>
