<%= render "shared/moes/counter_index" if @skin.is_moes? %>

<main data-active-merchant-id="<%= active_merchant_id %>"
      data-active-merchant-name="<%= active_merchant_name %>"
      data-active-catering-order="<%= cart_catering_order? %>"
      data-item-count="<%= item_count %>">

  <% if @merchant_list.nil? && @skin.is_hollywoodbowl? == false %>
    <div id='search'>
      <h1 class="no-padding">Find a Location</h1>
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :location, @location, autofocus: true, placeholder: "Enter City, State or Zip" %>
        <%= hidden_field_tag :past_location, @location %>
        <%= submit_tag "Search", name: nil %>
      <% end %>
    </div>
  <% end %>

  <% if @merchants.present? %>
    <section id='results'>

      <script type='text/javascript'>
          window.merchants_json = <%= to_js(@merchants) %>;
      </script>

      <h2>
        <% if is_wtjmmj? %>
          <%= pluralize @merchants.length, "store" %>
        <% else %>
          <%= pluralize @merchants.length, "restaurant" %>
        <% end %>
        found near <%= @location %>
      </h2>

      <% @merchants.each_with_index do |merchant, index| %>
        <div>
          <article>
            <h3><%= index + 1 %>. <%= merchant.full_name %></h3>

            <p><%= merchant.full_address %></p>
          </article>
          <aside>
            <figure class='buttons'>
              <% if merchant.has_catering %>
                <div class="catering-buttons">
                  <%= link_to "Catering", merchant_path(merchant, order_type: "catering"), class: "catering button",
                              data: {merchant_id: merchant.merchant_id, merchant_name: merchant.name, user_is_guest: is_guest_user?} %>
                </div>
              <% end %>
              <div class="pickup-delivery-buttons">
                <div class="buttons">
                  <% if merchant.has_delivery? %>
                    <%= link_to "Delivery", merchant_path(merchant, order_type: "delivery"), class: "delivery button m-l-10",
                                data: {merchant_id: merchant.merchant_id, merchant_name: merchant.name, user_is_guest: is_guest_user?} %>
                  <% end %>
                  <% if merchant.has_pickup? %>
                    <%= link_to "Pickup", merchant_path(merchant, order_type: "pickup"), class: "pickup button",
                                data: {merchant_id: merchant.merchant_id, merchant_name: merchant.name, user_is_guest: is_guest_user?} %>
                  <% end %>
                </div>
                <div>
                  <% if merchant.group_ordering_on %>
                    <div class="checkbox-group">
                      <div class="checkbox-container checkbox-group-common go" style="float: right">
                        <span>Group order</span>
                        <label class="selector-override">
                          <input class="checkbox-group-order" type="checkbox" name="order-types" value="<%= merchant.merchant_id %>"
                                 data-merchant-id="<%= merchant.merchant_id %>"
                                 <%= "disabled" if merchant.force_catering %>>
                          <span></span>
                        </label>
                        <br/>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </figure>
          </aside>
        </div>
      <% end %>
    </section>

    <section id='map'>
      <div>
        <%= image_tag(@skin.map_url) if @skin.map_url.present? %>
      </div>
    </section>
  <% end %>
</main>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
      (function($) {
        new MerchantsIndexController().index({
            deliveryPath: "<%= @delivery_path %>",
            mapUrl: "<%= @skin.map_url %>"
        });

        <% if signed_in? %>
        window.addresses = <%= to_js(@user.delivery_locations) %>;
        <% end %>
        new SessionController().validateSession();
    })(jQuery);
    });

</script>


<script>
    window.addEventListener('DOMContentLoaded', function() {
      (function($) {

          var start = localStorage['start'];
          if (start == 'true') {
              console.log("start true");
              var arr = [
                  "1@guest.com",
                  "a.alba@yopmail.com",
                  "a@a.a",
                  "a@a.aa",
                  "a@a.co",
                  "a@a.com",
                  "a@ab.com",
                  "a@abc.com",
                  "a@abcd.com",
                  "a@abcde.com",
                  "a@aeoi.com",
                  "A@DFAAFDAFDA.COM",
                  "a@ggg.com",
                  "aa@a.a",
                  "aaa@a.a",
                  "aaaa@eeee.com",
                  "aaaaa@bbbbb.com",
                  "aaaaa@yopmail.com",
                  "aaaaaa@test.com",
                  "aabn@h.com",
                  "abc@abc.com",
                  "abc@gmail.com",
                  "abc@jdk.com",
                  "abcd@gmail.com",
                  "absdljkas@azdajsl.com",
                  "ad@ad.com",
                  "adfad@adf.com",
                  "adfasfasd@test.com",
                  "adj@ksk.com",
                  "admin",
                  "ahs@jek.com",
                  "ajdj@jwj.com",
                  "ajs@ks.com",
                  "akanksha+2@punchh.com",
                  "akanksha+5@punchh.com",
                  "akanksha@punchh.com",
                  "alba@yopmail.com",
                  "an@email.com",
                  "android@ccguest.com",
                  "android@history.com",
                  "android@newversion.com",
                  "arbolito@test.com",
                  "ariel.alba.group@yopmail.com",
                  "ariel.alba.ios@yopmail.com",
                  "ariel.alba.test@trueforce.com",
                  "ariel.alba.test@yopmail.com",
                  "ariel.alba.trueforce@yopmail.com",
                  "ariel.alba@truefofffefrce.com",
                  "ariel.alba@trueforce.com",
                  "ariel.alba@yopmail.com",
                  "ariel.splickit@gmail.com",
                  "ariel@yopmail.com",
                  "ARIEQT@SBCGLOBAL.NET",
                  "arieseabra@yahoo.com",
                  "arosenthal@splickit.com",
                  "as@124.com",
                  "as@1243.com",
                  "as@12443.com",
                  "as@as.com",
                  "asd@adddasd.asd",
                  "asd@asd.com",
                  "asd@jfk.com",
                  "asd@kd.com",
                  "asda@add.com",
                  "asda@Sade.com",
                  "asdasd@asdasda.com",
                  "asdasfafa@fasts.com",
                  "asdf@23adf.com",
                  "asdf@asdf.acsd",
                  "asdf@asdf.com",
                  "asdf@test.com",
                  "asdfa@gsdfg.com",
                  "asdqsd@was.aas",
                  "aseabra@goodcentssubs.com",
                  "askS@Jair.com",
                  "b@abc.com",
                  "b@b.com",
                  "bdnshje@nxneje.com",
                  "bhhh@bfsudgij.com",
                  "blow@indra.net",
                  "bobtest@yahoo.com",
                  "bolivia@bolivia.com",
                  "boneill@splickit.com",
                  "briantamu6@gmail.com",
                  "briantest@gmail.com",
                  "bskriurur@cmdnr.com",
                  "bug@bug.com",
                  "bxhxc@ghh.com",
                  "c@abc.com",
                  "c@c.com",
                  "card@card.com",
                  "carla@trueforce.com",
                  "carmen1234567@yopmail.com",
                  "carmen123456@yopmail.com",
                  "carmen@trueforce.com",
                  "carminia3333@yopmail.com",
                  "carminia@yopmail.com",
                  "catering@terrado.com",
                  "chrome@test.com",
                  "ci@high.com",
                  "connolly.michele@gmail.com",
                  "create@test.com",
                  "createusertest@test.com",
                  "credit@card.com",
                  "crussell+51@splickit.com",
                  "crussell+998@splickit.com",
                  "crussell+999@splickit.com",
                  "crussell+fhjd@splickit.com",
                  "crussell2@splickit.com",
                  "crussell34567@splickit.com",
                  "crussell567890ty@splickit.com",
                  "crussell5678@splickit.com",
                  "crussell5764839@splickit.com",
                  "crussell678476847569@splickit.com",
                  "crussell7685940-8686@splickit.com",
                  "crussell@splickit.com",
                  "crussellReg@splickit.com",
                  "cualquiercosa@test.com",
                  "cucu2222@asd.com",
                  "cucu3333333333@asd.com",
                  "cucu@asd.com",
                  "cv@123.com",
                  "d@abc.com",
                  "d@d.com",
                  "d@gg.com",
                  "dadasdds@fadf.com",
                  "das@das.com",
                  "ddd@ddd.com",
                  "default@splickit.com",
                  "demo_account@splickit.com",
                  "demo_tester",
                  "dfdfsaadsfsdafdafs@9090.ci",
                  "dfghjkjhgrickmnet@msn.com",
                  "dgerler3@xoikos.com",
                  "dgreff@not.ca",
                  "djdjwuuwisk@kdmensjx.com",
                  "djejej@jejs.n",
                  "ds@123.com",
                  "duzog@refurhost.com",
                  "e@abc.com",
                  "e@e.com",
                  "e@e.con",
                  "eeee@eeee.com",
                  "ekkeke@kdk.com",
                  "elvis.caceres.la@trueforce.com",
                  "elvis.caceres@trueforce.com",
                  "email@emi.com",
                  "emailguest@test.com",
                  "erere@jdkljfd.com",
                  "ertyerty@w.w",
                  "etiojhhjj@m.com",
                  "f@abc.com",
                  "f@f.com",
                  "f@n.com",
                  "faffds@fdafds.caa",
                  "fasfdsfdsa@eee.mk",
                  "fav@test.com",
                  "favorito@test.com",
                  "fd@God.com",
                  "fdafdfadfda@asdfas.ccc",
                  "fdsadfs@fdokdf.po",
                  "fdsafdasp@ppp.com",
                  "fdsafds@pppppppp.p",
                  "fdsdfssdfhetewhytwshtrahfds@p.com",
                  "ffdggfdfvvv@test.com",
                  "fffff@ddd.ca",
                  "fffff@fffff.com",
                  "fgdf@chug.com",
                  "fgfvh@ghfg.com",
                  "fhff@ggg.com",
                  "figura@test.com",
                  "fire@smoke.com",
                  "FireFox@regina.com",
                  "firefox@test.com",
                  "firstname+lastname@domain.com",
                  "florinda@mesa.com",
                  "focamarina@guest.com",
                  "focamarina@test.com",
                  "focamarinatttt@test.com",
                  "focamarintahgggtttt@test.com",
                  "ford@harrison.com",
                  "friday@tesasdft.com",
                  "fyiijhh@jjjj.bbb",
                  "g@abc.com",
                  "g@g.com",
                  "g@j.com",
                  "g@vhh.com",
                  "gctxgdvhvuv@hyfgffrreee.com",
                  "gdfh@gh.com",
                  "gdhgrsgrdb@hfjtrdht.com",
                  "gfafg@jhhb.njj",
                  "gfd@jh.com",
                  "gfdgfd@rer.kkkk",
                  "gfff@g.ca",
                  "gffg@jog.com",
                  "gfhff@khggrew.com",
                  "gfyhf@jagger.com",
                  "ggf@hgg.chon",
                  "ggfjjj@Jill.com",
                  "ggg@ghki.cd",
                  "ggggg@ggggg.com",
                  "ggggg@jjj.com",
                  "gggggh@bb.com",
                  "gghg@high.com",
                  "ghccifufuuucf@h.com",
                  "ghjjgf@bank.com",
                  "ghjjjj@bjkkj.ca",
                  "gif@ifi.com",
                  "gigio@test.com",
                  "gina@mercado.com",
                  "go1@splickit.com",
                  "gorila@guest.com",
                  "grgrg4tvf@ldjflkejfl.com",
                  "grgt@fgtt.com",
                  "grw34r43regdf@lskdjoif.com",
                  "gsbehsh@nxbehedksii.com",
                  "guest.1@test.com",
                  "guest.2@test.com",
                  "guest.3@test.com",
                  "guest.4@test.com",
                  "guest.5@test.com",
                  "guest.email@test.com",
                  "guest.regina@test.com",
                  "guest.user@test.com",
                  "guest.user@testing.com",
                  "guest0@test.com",
                  "guest10@test.com",
                  "guest11@test.com",
                  "guest12@test.com",
                  "guest13@test.com",
                  "guest14@test.com",
                  "guest15@test.com",
                  "guest1@guest.com",
                  "guest1@test.com",
                  "guest2@guest.com",
                  "guest2@test.com",
                  "guest3@guest.com",
                  "guest3@guestt.com",
                  "guest3@test.com",
                  "guest5@tester.com",
                  "guest6@test.com",
                  "guest7@guest.com",
                  "guest7@test.com",
                  "guest8@test.com",
                  "guest@guest.com",
                  "guest@new.com",
                  "guest@shush.com",
                  "guest@test.com",
                  "guest@tester.com",
                  "guest@user.com",
                  "guesting10@test.com",
                  "guesting11@test.com",
                  "guesting1@test.com",
                  "guesting2@test.com",
                  "guesting3@test.com",
                  "guesting4@test.com",
                  "guesting5@test.com",
                  "guesting6@test.com",
                  "guesting7@test.com",
                  "guesting8@test.com",
                  "guesting9@test.com",
                  "guesting@test.com",
                  "guestprueba0@test.com",
                  "guestprueba1@test.com",
                  "guestprueba2@test.com",
                  "guestprueba3@test.com",
                  "guestprueba4@test.com",
                  "guestprueba5@test.com",
                  "guestprueba6@test.com",
                  "guestprueba7@test.com",
                  "guestprueba8@test.com",
                  "guestprueba9@test.com",
                  "guestprueba@test.com",
                  "guestpruebauser@test.com",
                  "guestsession@test.com",
                  "guestTest@test.com",
                  "guesttester.user@test.com",
                  "guesttestsergio@test.com",
                  "guestuser1@test.com",
                  "guestuser1@tester.com",
                  "guestuser2@tester.com",
                  "guestuser@test.com",
                  "guestuser@testing.com",
                  "guestusertest@test.com",
                  "guestusertesting@test.com",
                  "h@abc.com",
                  "h@h.com",
                  "hbrcesevyn@unburdened.com",
                  "hchc@obig.com",
                  "hcv@hjiu.com",
                  "hdhd@jf.com",
                  "hdhdgj@hhhh.com",
                  "hdhdh@hshsjsj.com",
                  "hdhdheejdiie@jejjem.com",
                  "hdhebdjjd@test.com",
                  "hdjd@bjdkd.com",
                  "hdss@n.ccc",
                  "heheh@urjeheb.com",
                  "helena@yopmail.com",
                  "henry1@henry.com",
                  "henry2@henry.com",
                  "henry3@henry.com",
                  "henry@aquino.com",
                  "henry@guest.com",
                  "henry@henry.com",
                  "hfff@hug.com",
                  "hgdfre@mbff.com",
                  "hgf@high.com",
                  "hgfui@jooj.j",
                  "hgg@high.com",
                  "hggg@jjjjmhhhnn.com",
                  "hggg@jjjjmnn.com",
                  "hgrdvbcgfhn@bggfg.com",
                  "hh@ghh.com",
                  "hh@jjh.com",
                  "hhchjgf@jj.com",
                  "hhf@Hyde.com",
                  "hhfretting@hhhh.com",
                  "hhjhhh@hij.con",
                  "hhjkj@hhj.com",
                  "hjhggg@ghhh.com",
                  "hjkpo@c.com",
                  "hnelson@yaHOO.COM",
                  "holly@test.com",
                  "hsbsvsygs@mxnehheeksi.com",
                  "hshdhd@jdjdj.com",
                  "hshs@hshsjsj.com",
                  "hshs@shake.com",
                  "hshsh@hshsjsj.com",
                  "hsjs@hsjs.com",
                  "hutghjj@ghhj.com",
                  "hvc@jhhh.com",
                  "hvf@bcgh.com",
                  "hxbx@fgh.com",
                  "hyttu866tt@hhh.com",
                  "i@i.com",
                  "ie@test.com",
                  "iehrbdbhxgsue@nxjxiduehe.com",
                  "iexplorer@test.com",
                  "ifif@hxd.com",
                  "iiiooo@bbb.vxd",
                  "ikkjk@mmm.n",
                  "inte@ios.com",
                  "integra@iOS.com",
                  "inteiphone@iPhone.com",
                  "interexplorer@regina.com",
                  "iookk@hjj.mko",
                  "ios@guestuser.com",
                  "j@c.com",
                  "j@j.com",
                  "j@k.com",
                  "jackelin@yopmail.com",
                  "jalapenio@test.com",
                  "jameshumannn@gmail.com",
                  "jarry@withj.com",
                  "jarrybelafonte@tumbril.com",
                  "jchffgfyihh@hdhdfj.com",
                  "jdjdbe@hdhdjdj.com",
                  "jdjdbe@jdjdjd.com",
                  "jdnejdudjd@ncjuduejr.com",
                  "jebdjsje@mcicyeheb.com",
                  "jeiejen@make.com",
                  "jennyhail@yopmail.com",
                  "jfewyu@nkgreqqq.nj",
                  "jfu@fufuf.com",
                  "jgoh@yahoo.com",
                  "jhgggd@hhhhh.com",
                  "jhon@test.com",
                  "jiiii@bbbb.com",
                  "jim@indra.net",
                  "jjan@jdk.com",
                  "jjd@jk.com",
                  "jjdj@jdjd.com",
                  "jjett@indra.net",
                  "jjj@bbb.com",
                  "jjohnson@indra.net",
                  "jk@mail.com",
                  "jkk7j@ggghuj.com",
                  "jlane@yahoo.com",
                  "jneary@go.com",
                  "jneary@Indra.net",
                  "jneary@yahoo.com",
                  "jnnn@indra.net",
                  "jnolan@indra.net",
                  "joe@joe.com",
                  "john@hungryman.com",
                  "johnsmith@test.com",
                  "jorge.valdivia@trueforce.com",
                  "jose@jose.com",
                  "josh@strixsmart.com",
                  "jshsjjs@jsksj.com",
                  "jsjans@nskdjejw.com",
                  "jsjs@ks.com",
                  "jsjsjd@jdjs.com",
                  "jsmith@indra.net",
                  "jsndhusje@nxjdjehajwieu.com",
                  "jsnjsjw@jdjwjwj.com",
                  "jturner@indra.net",
                  "juiij@jjjjj.nj",
                  "juppioooo@jjjj.com",
                  "justme@yahoo.com",
                  "k@k.com",
                  "kaks@kdjd.com",
                  "kdjdjebbe@ncnfheuwj.com",
                  "kdjfnlakdjf@asdkfdi.com",
                  "Kendallm@colorado.com",
                  "kendueje@jdjeje.com",
                  "khture@guilty.com",
                  "kkkkk@kkkkk.com",
                  "kriff@xoikos.com",
                  "krussell2@splickit.com",
                  "krussell@splickit.com",
                  "l@l.com",
                  "lady@yopmail.com",
                  "lane@indra.net",
                  "lane@yahoo.con",
                  "larry@indra.net",
                  "laura@yopmail.com",
                  "layne@indra.net",
                  "layne@splickit.com",
                  "laynesheppard@gmail.com",
                  "lenny_menu_tester",
                  "lenwpriejr@kfornehe.com",
                  "llane12@indra.net",
                  "llane@Indra.com",
                  "llane@indra.net",
                  "llane@undra.com",
                  "llane@undra.net",
                  "llane@yahoo.com",
                  "lois@indra.net",
                  "lst@yahoo.com",
                  "lturner@Indra.net",
                  "luisa1@yopmail.com",
                  "luisa@yopmail.com",
                  "lupita@yopmail.com",
                  "lynn@indra.net",
                  "m@cd.com",
                  "m@g.com",
                  "m@h.ca",
                  "m@m.com",
                  "m@masdasd.com",
                  "m@mn.com",
                  "m@x.com",
                  "mapbox@android.com",
                  "marclat001010@gmail.com",
                  "maria@yopmail.com",
                  "marianela@yopmail.com",
                  "mariela@yopmail.com",
                  "mario@bros.com",
                  "mark@inspirecommerce.com",
                  "mark@warrior.io",
                  "marlen@yopmail.com",
                  "marleni@yopmail.com",
                  "martha@yopmail.com",
                  "mb@mb.com",
                  "mb@mr.com",
                  "medellin@yopmail.com",
                  "menu_tester",
                  "MFDMMFS@EF.COM",
                  "mhgdaaeergj@he.ca",
                  "mica@yopmail.com",
                  "micaela@yopmail.com",
                  "mike@a.co",
                  "mike@a.com",
                  "mike@aaa.com",
                  "mikesmarketer",
                  "mimin@yopmail.com",
                  "mismatch@guest.com",
                  "mismatch@test.com",
                  "mismatch@testsmoke.com",
                  "mk@mk.ca",
                  "mk@mk.com",
                  "mkl@mkl.com",
                  "mmmmm@pppp.c",
                  "mnb@n.com",
                  "mno@m.com",
                  "mo@mo.com",
                  "morgan@freemam.com",
                  "ms@ms.com",
                  "muchachopolo@gmail.com",
                  "murillo.regina@gmail.com",
                  "n@n.com",
                  "ndndhhebd@mcksiuwue.com",
                  "ndnejekdj@nsjejbd.com",
                  "neha.lodha+1@punchh.com",
                  "nelson@indra.net",
                  "new11@splickit.com",
                  "new@Splickit.com",
                  "nfdn@jdj.com",
                  "ngfkhredgy@jhgfrfss.com",
                  "nj@nj.com",
                  "njsjsj@jsk.com",
                  "noexiste@noexiste.com",
                  "nouser",
                  "nsbdhd@jxnrhrjr.com",
                  "o@o.com",
                  "o@p.com",
                  "ok@ok.ok",
                  "ok@z.com",
                  "opera@test.com",
                  "order140",
                  "otro@me.com",
                  "p@p.com",
                  "p@poi.com",
                  "pablo.daza@assuresoft.com",
                  "pedro@rodriguez.com",
                  "pepe@pepe.com",
                  "perico@argentino.com",
                  "perla@negra.com",
                  "pin@moi.oih",
                  "pkhtihgg@njk.com",
                  "pookpppp@m.m",
                  "pp@pp.com",
                  "pp@ppp.com",
                  "prueba@prueba.com",
                  "punchhtest1@splickit.com",
                  "q@q.com",
                  "q@w.com",
                  "qa@qa.ca",
                  "qassure@test.com",
                  "qa_tester",
                  "qqqqq@qqqqq.com",
                  "qwe@gmail.com",
                  "radamnyc+8888888@gmail.com",
                  "radamnyc+88@gmail.com",
                  "radamnyc+jgf@gmail.com",
                  "radamnyc@gmail.com",
                  "radio@test.com",
                  "rballein5@splickit.com",
                  "rballein@splickit.com",
                  "regina.murillo@assuresoft.com",
                  "regina.murillo@trueforce.com",
                  "regina@androidguest.com",
                  "regina@ie.com",
                  "regina@ios.com",
                  "regina@murillo.com",
                  "regina@tedfdfdfdfst.com",
                  "regina@tesdfdfdt.com",
                  "regina@test.com",
                  "regina@testdfsefwefesfdd.com",
                  "regina@testdghdgh.com",
                  "regina@testfinal.com",
                  "regina@testgeneral.com",
                  "regina@testlattest.com",
                  "regina@testok.com",
                  "regina@testpapagallo.com",
                  "regina@testpru.com",
                  "regina@testprueba.com",
                  "regina@testrrrrrr.com",
                  "regina@testspecial.com",
                  "regina@testtesttest.com",
                  "regina@tfefefeest.com",
                  "regina@tweb07.com",
                  "regina@web2.com",
                  "regina@yopmail.com",
                  "reginafriday@test.com",
                  "reginamurillo@test.com",
                  "register@test.com",
                  "relfje@lskd.com",
                  "remoestest@test.com",
                  "rerer@aksdf.com",
                  "rfb@khafd.com",
                  "rickmnet@msn.com",
                  "rob.taylor@splickit.com",
                  "robgimtest@gmail.com",
                  "rurhrj@sheiej.ca",
                  "sa@123.com",
                  "sara@yopmail.com",
                  "sasha@yopmail.com",
                  "sdfasfevdv@jlakdjklc.com",
                  "sdfdf@ljlk.com",
                  "sdfg@sdfkgjhsfd.com",
                  "sdkjba@annoys.cas",
                  "sergio.dalence@trueforce.com",
                  "sergio@guest.com",
                  "sergio@test.com",
                  "sergio@tester.com",
                  "sjd@jkd.com",
                  "sjdj@kdjd.com",
                  "sjs@kks.com",
                  "sjsj@jdk.com",
                  "slkdjdlasdqww@dasda.com",
                  "some@email.com",
                  "spkwaldo@gmail.com",
                  "splickit.test@gmail.com",
                  "splickitassure@gmail.com",
                  "sreasfd@asdfaev.com",
                  "sssss@nnnnn.com",
                  "st2@splickit.com",
                  "store_tester@splickit.com",
                  "su",
                  "su3",
                  "sumdum@splickit.com",
                  "sxian@yopmail.com",
                  "t@g.com",
                  "t@t.com",
                  "tarek90@splickit.com",
                  "tarek@Splickit.com",
                  "tctc@tereginat.com",
                  "tdimachkie@goodlunch.com",
                  "tdimachkie@splickit.com",
                  "ter@da.com",
                  "teresa@yopmail.com",
                  "tes@tes.com",
                  "teshxhdhg@nxhdjeje.com",
                  "test004@yopmail.com",
                  "test005@yopmail.com",
                  "test1000@yopmail.com",
                  "test1@test.com",
                  "test2018enero2@email.com",
                  "test2018enero3@email.com",
                  "test2018enero@email.com",
                  "test2@gmail.com",
                  "test2@tes3.com",
                  "test2@teset.com",
                  "test2@tess.com",
                  "test2@test.com",
                  "test2@test2.com",
                  "test300@yopmail.com",
                  "test333@test333.com",
                  "test3@test.com",
                  "test44@44.com",
                  "test45@45.com",
                  "test46@test.com",
                  "test47@test.com",
                  "test4@test.com",
                  "test5@test.com",
                  "test89@test.com",
                  "test@67ghh.com",
                  "test@android.com",
                  "test@bolivia.com",
                  "test@bugs.com",
                  "test@currito.com",
                  "test@email.com",
                  "test@gmail.com",
                  "test@loyalty.com",
                  "test@regression.com",
                  "test@session.com",
                  "test@splickit.com",
                  "test@takeout.com",
                  "test@test.com",
                  "test@test.test",
                  "Test@test1.com",
                  "test@test22.com",
                  "Test@test4.com",
                  "Test@test8.com",
                  "test@testandroid.com",
                  "test@tests.com",
                  "test@testy.com",
                  "test@todo.com",
                  "test@yopmail.com",
                  "testdelete@button.com",
                  "tester1@guest.com",
                  "tester1@test.com",
                  "tester1@tweb07.com",
                  "tester2@tweb07.com",
                  "tester@belen.com",
                  "tester@create.form",
                  "tester@fetch.com",
                  "tester@fhfjfj.com",
                  "tester@firefox.com",
                  "tester@fortoday.com",
                  "tester@g.com",
                  "tester@gigio.com",
                  "tester@guest.com",
                  "tester@guest1.com",
                  "tester@guest2.com",
                  "tester@guest4.com",
                  "tester@guestguest.com",
                  "tester@guesthdjd.com",
                  "tester@guesttghnmfgh.com",
                  "tester@guetyyyghj.com",
                  "tester@gvcrrujvv.com",
                  "tester@ie.com",
                  "tester@ie10.com",
                  "tester@inteios.com",
                  "tester@ios.com",
                  "tester@jhsjejjd.com",
                  "tester@jsjsjje.com",
                  "tester@ndndjjsns.com",
                  "tester@newversion.com",
                  "tester@out.com",
                  "tester@poiuyyl.com",
                  "tester@pouyy.com",
                  "tester@safari.com",
                  "tester@skin.com",
                  "tester@storeinfo.com",
                  "tester@testeador.com",
                  "tester@tweb05.com",
                  "tester@tweb07.com",
                  "tester@tweb0hffgg5.com",
                  "tester@tweb0vggh7.com",
                  "tester@twebasdfa05.com",
                  "testgggg@nhgtdggdecvg.com",
                  "testguest@email.com",
                  "testguest@test.com",
                  "testie@smoke.com",
                  "testingguesting@test.com",
                  "testmoes@moes.com",
                  "testmonday@adfad.com",
                  "testsplickit@yopmail.com",
                  "testss@yopmail.com",
                  "testt@jfw.com",
                  "testtest@testtest.com",
                  "testtest@yopmail.com",
                  "testuserguest@test.com",
                  "tet1@test.com",
                  "topogigio@test.com",
                  "trueforce@splickit.com",
                  "trueforcefacebook@gmail.com",
                  "try@try.com",
                  "tsheppard@yahoo.com",
                  "ttft@dffdd.com",
                  "tts@splickit.com",
                  "tttt@tttt.com",
                  "tvtvyv@ubub.com",
                  "twvdvdb@jdjehe.com",
                  "ty@ty.com",
                  "user.guest.account@test.com",
                  "user1@guesting.com",
                  "user2@guesting.com",
                  "user3@guesting.com",
                  "user@gesting.com",
                  "user@test.com",
                  "userguest1@test.com",
                  "usertest@test.com",
                  "uuuytt.m@j.con",
                  "uvyg@uvycub.com",
                  "uy@uy.com",
                  "v2@123.com",
                  "v@v.com",
                  "va@123.com",
                  "vasdv@anso.com",
                  "vhhj@high.con",
                  "vi@true.com",
                  "VIC@gmail.com",
                  "victor.mercado@trueforce.com",
                  "victor.mercado@trueforcesss.com",
                  "victor.mercado@truerce.com",
                  "vip",
                  "vip@pitapit.com",
                  "vjv@jog.com",
                  "vwef2q3f@ajdlf.com",
                  "vycuv@uyc.com",
                  "w@e.com",
                  "wewewe@wewewe.com",
                  "wjustet@gmail.com",
                  "www@www.com",
                  "wwww@wwww.com",
                  "x@x.com",
                  "xxrickmnet@msn.com",
                  "xxxxx@xxxxx.com",
                  "y@yu.com",
                  "yovana.soto@trueforce.com",
                  "ytfh@gh.com",
                  "yui@u.com",
                  "yuio@u.com",
                  "yyyyy@yyyyy.com",
                  "zjzj@jsjs.com"
              ];

              var posS = localStorage['index'];
              var posI = parseInt(posS);

              var correctS = localStorage['correct'];
              var correctI = parseInt(correctS);

              var incorrectS = localStorage['incorrect'];
              var incorrectI = parseInt(incorrectS);

              var error = localStorage['error'];

              console.log("pos storage: ", posI);

              for (var i = posI; i < arr.length; i++) {

                  console.log("pos i: ", i);

                  $('.sign-in').first().click();
                  $('#user_email').val(arr[posI]);
                  $('#user_password').val("l");
                  $('#user_remember').click();
                  $('#submit-test').click();

                  setTimeout(
                      function () {
                          if ($('.home').length > 0) {
                              // it exists

  //                            $('.user').first().click();

  //                            setTimeout(
  //                                function () {

                              localStorage['correct'] = correctI + 1;

                              localStorage['index'] = posI + 1;

                              var href = $('.signout-test').last().attr('href');
                              console.log("href: ", "/sign_out");
                              window.location.href = "/sign_out";

  //                                }, 2000 );

                          } else {

                              localStorage['error'] = error + '-----' + arr[posI];

                              console.log("llegaaaaaaaaaa");
                              localStorage['incorrect'] = incorrectI + 1;
                              localStorage['index'] = posI + 1;
                              console.log("111 inco:", localStorage['incorrect']);
                              console.log("222   in:", localStorage['index']);
                              window.location.href = "https://pitapit.splickit-test.com";
                          }

                      }, 3000);
              }
          }
    })(jQuery);
    });
</script>